.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.board {
  flex: 0 0 auto;
  height: 100vw;
  width: 100vw;
}

.panel {
  flex: 1 0 0;
  padding: 20px;
  min-width: 160px;
}

.panelButtons {
  margin: 16px 0 0
}

@media (orientation: landscape) {
  .root {
    flex-direction: row;
  }

  .board {
    width: 100vh;
    height: 100vh;
  }
}
