.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.board {
  margin: 0 auto;
  flex: 0 0 auto;
  width: min(100vw, calc(100vh - 65px));
  height: min(100vw, calc(100vh - 65px));
}

.panel {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

@media (orientation: landscape), (min-height: 800px) and (min-width: 980px) {
  .root {
    flex-direction: row;
  }

  .panel {
    padding-top: 0;
  }

  .board {
    width: min(calc(100vw - 320px), calc(100vh - 65px));
    height: min(calc(100vw - 320px), calc(100vh - 65px));
  }
}
