.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.board {
  margin: 0 auto;
  flex: 0 0 auto;
  width: min(100vw, calc(100vh - 65px));
  height: min(100vw, calc(100vh - 65px));
}

.panel {
  flex: 1 0 0;
  padding: 12px;
  min-width: 160px;
}

.panelButtons {
  margin: 8px 0;
}

@media (min-aspect-ratio: 5/4) {
  .root {
    flex-direction: row;
  }
}
