.link.link {
  padding: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 240px;
  flex-direction: column;
}

.link.link span {
  margin: 0;
}

.grid.grid {
  margin-top: 8px;
}

.root {
  flex: 1 1 auto;
  min-height: 100vh;
  text-align: center;
  padding: 0 24px 24px;
  box-sizing: border-box;
  width: 100vw;
}
