.link.link {
  padding: 20px;
  font-size: 2em;
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 240px;
}

.root {
  flex: 1 1 auto;
  min-height: 100vh;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
}
